



@media screen and (max-width: (420em/16)){
  .home .slogan {

    h2{
      font-size: (18em/16);
    }
    h5{
      font-size: (14em/16);
    }

    p{
      font-size: (12em/16);
    }
  }
}


@media screen and (min-width: (421em/16)) and (max-width: (600em/16)){
  .home .slogan {

    h2{
      font-size: (20em/16);
    }
    h5{
      font-size: (16em/16);
    }

    p{
      font-size: (14em/16);
    }
  }
}





@media screen and (max-width: (1024em/16)){
  .menu-header-menu-container {
    display: none;
  }


  .sections .title-section {
    margin-bottom: .5em !important;
  }

  .sections.objetivo .content p{
    padding-right:0;
    margin-bottom: 1em;
  }

  .sections.planificacion .column-1,
  .sections.planificacion .column-2,
  .sections.planificacion .column-3 {
    padding: 0 1.6666666667em;
  }

  .sections.clientes .column-1,
  .sections.clientes .column-2,
  .sections.clientes .column-3,
  .sections.clientes .column-4{
    padding: 0 2.1428571429em;
  }

  .sections.referencias .column-1, .sections.referencias .column-2{
    padding: 0 1.6666666667em;
  }

  .sections.trading {
    .col-container {
      .columna-1,
      .columna-2,
      .columna-3{
        padding: 1.5em;
      }
    }
  }

  .sections.servicios .column-1, .sections.servicios .column-2 {
    padding: 0 1.6666666667em;
  }


  .sections.productos {
    .col-container {
      .columna-1,
      .columna-2,
      .columna-3,
      .columna-4{
        padding: 1.5em;
      }
    }
  }

  .sections.medios .content p {
    padding-right:0;
    margin-bottom: 1em;
  }

}










