@media screen and (max-width: (420em/16)){
  .home .slogan {

    h2{
      font-size: (18em/16);
    }
    h5{
      font-size: (14em/16);
    }

    p{
      font-size: (12em/16);
    }
  }
}


@media screen and (min-width: (421em/16)) and (max-width: (600em/16)){
  .home .slogan {

    h2{
      font-size: (20em/16);
    }
    h5{
      font-size: (16em/16);
    }

    p{
      font-size: (14em/16);
    }
  }
}





@media screen and (max-width: (1024em/16)){
  .menu-header-menu-container {
    display: none;
  }
}






